
header .logo{
  background-image: url("logo.png");
  background-size: 35px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: auto;
  text-indent: -9999999px;
  position:absolute; 
  top: -10px;
  left: -290px;
  height: 30px;
  width: 40px;
}

header .banner{
    margin-left: auto;
}

#coverphoto{
    position: absolute;
    left: auto;
}

#About{
    background: white;
    background-size: 300px;
    background-blend-mode: color;
    
}

#Titles{ 
    color: white;
}

#skills-container {
  padding: 50px 0;
}

#languages-container,
#tools-container {
  width: 30%;
  display: inline-block;
}

@media (max-width: 1180px) {
  #languages-container,
  #tools-container {
    width: 45%;
  }

  #languages-container, {
    margin-bottom: 50px;
  }
}

@media (max-width: 780px) {
  #skills-container {
    content: "no-touch";
  }

  #languages-container,
  #tools-container {
    width: 90%;
  }

  #languages-container, {
    margin-bottom: 50px;
  }
}

#languages-canvas,
#tools-canvas {
  width: 100%;
  max-width: 400px;
  margin-top: -50px;
  margin-bottom: -70px;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}




